@import url(basic_style.css);

.basic-head-txt
{
  display: flex;
  justify-content: left;
  align-items: center;

  position: relative;
  left: 1rem;
  color: #fff;

  font-size: 1.4rem;
  line-height: 3rem;
}

.food-list
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  top: 5rem;

  margin: 0 0 2rem 0;
}

.food-name
{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: #fff;

  width: 15rem;
  height: 3rem;

  border: thick double #000;
  border-radius: 58px 58px 58px 58px;
  -webkit-border-radius: 58px 58px 58px 58px;
  -moz-border-radius: 58px 58px 58px 58px;
}

.name-short
{
  font-size: 200%;
}

.name-long
{
  font-size: 130%;
}

.food-info
{
  display: flex;
  justify-content:start;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 2rem;

  width: 60rem;
  height: 50rem;

  background-color: #0b131b;
  
  border: thick double #fff;
  border-radius: 58px 58px 58px 58px;
  -webkit-border-radius: 58px 58px 58px 58px;
  -moz-border-radius: 58px 58px 58px 58px;

  z-index: -1;
}

.food-img
{
  display: flex;

  position: relative;
  top: 3rem;
  
  width: 50rem;
  height: 30rem;

  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;

  box-shadow: 5px 11px 24px 1px #d19900bf;
  -webkit-box-shadow: 5px 11px 24px 1px #d19900bf;
  -moz-box-shadow: 5px 11px 24px 1px #d19900bf;
}

.food-txt
{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;

  position: relative;
  top: 5rem;
  
  width: 50rem;
  height: 13rem;

  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border: thick double #000;
  padding: 1.2rem 0 0 2rem;

  background-color: #fff;

  font-size: 1.2rem;
  line-height: 2rem;
}