@import url(./basic_style.css);

.explain-mbti
{
  position: relative;
  top: 3rem;
}

.mbti-box-set
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;

  position: relative;
  right: 2rem;
}

.mbti-box
{
  display: flex;
  justify-content: row;

  position: relative;
  left: 2rem;

  width: 38.4rem;
  height: 11rem;

  margin: 2rem 0 2rem 0;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border : thin dotted #fff;

  background-color: #0b131b;
}

.mbti-keyword
{
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  top: 0.5rem;
  left: 0.5rem;

  width: 10rem;
  height: 10rem;

  border: thin double #fff;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;

  background-color: #25384a;

  font-size: 200%;
  color: #fff;
}

.mbti-info-set
{
  display: flex;
  flex-direction: column;

  position: relative;
  left: 1rem;
  top: 0.5rem;
}

.mbti-info
{
  display: flex;
  flex-direction: row;
}

.sub-mbti-keyword
{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  height: 4.5rem;
  
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border: thin double #fff;

  background-color: #25384a;

  font-size: 200%;
  color: #fff;
}

.sub-mbti-txt
{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18rem;
  height: 4.5rem;
  
  margin: 0 0 0.1rem 0;
  border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  border: thin double #fff;

  background-color: #fff;

  font-size: 1.4rem;
  color: #000;
}

.explain-my-mbti
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  top: 5rem;

  margin: 0 0 4rem 0;
}

.my-mbti-name
{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 2rem;

  width: 14rem;
  height: 4rem;

  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border: thick double #000;

  background-color: #fff;

  color: #000;
  font-size: 1.7rem;
}

.my-mbti-box
{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 62rem;
  height: 35rem;

  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border: thin solid #fff;
  margin: 0 0 5rem 0;

  background-color: #0b131b;
}

.isfj-img
{
  display: flex;

  position: relative;
  left: 1rem;

  width: 23rem;
  height: 28rem;

  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;

  box-shadow: 5px 11px 24px 1px #ffffff57;
  -webkit-box-shadow: 5px 11px 24px 1px #ffffff57;
  -moz-box-shadow: 5px 11px 24px 1px #ffffff57;
}

.my-mbti-txt
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  left: 3rem;
  
  width : 33rem;
  height: 28rem;

  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 0 1rem 0 1rem;

  background-color: #fff;

  font-size: 1.2rem;

  box-shadow: 5px 11px 24px 1px #ffffff57;
  -webkit-box-shadow: 5px 11px 24px 1px #ffffff57;
  -moz-box-shadow: 5px 11px 24px 1px #ffffff57;
}

.mbti-txt-head
{
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  bottom: 1rem;

  width: 12rem;
  height: 4rem;

  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border: 0.14rem solid #c2c2c2;

  background-color: rgba(177, 177, 177, 0.63);

  font-size: 1.0rem;
}

.in
{
  margin: 0.2rem 0 0 0;
  font-size: 0.9rem;
  text-indent: 3rem;
}